<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novel Details</title>
  </head>
  <body>
    <div>
      
      <h1><%=novel.ntitle%></h1>
      <p><%=novel.author%></p>
      <p><%=novel.price%></p>
      <p><%=novel.desc%></p>
      <h3>Summary</h3>
      <p><%=novel.summary%></p>
      
    </div>
  </body>
</html>
