<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Novel Details</title>
  </head>
  <body>
    <%- include('partials/header') %>
      <div class="card" style="width: 25rem ; margin:0.5%" >
        <div class="card-body">
          <h5 class="card-title"><%=novel.ntitle%></h5>
          <h6 class="card-subtitle mb-2 text-body-secondary"><span style="font-weight: bold; color: rgb(36, 35, 35);">Author:</span> <%=novel.author%></h6>
          <p style=" text-align: justify;" class="card-text"> <span style="font-weight: bold;">Description:</span> 
            <%=novel.desc%>
          </p>
          <p style=" text-align: justify;" class="card-text"><span style="font-weight: bold;">Summary:</span>
            <%=novel.summary%>
          </p>
          <h6 style="text-align: right; font-size: large; font-weight: bold; ">Price: <span class="badge bg-primary" style="font-size: large;"><%=novel.price%> Rs</span></h6>
        </div>
      </div>
    <%- include('partials/footer') %>
  </body>
</html>
